<div class="col-xs-12 top-card">
    <div class="row nopadding maxheight">
        <div class="col-xs-5 card-picture nopadding">
            <div class="pull-right mask">
                <img ng-src="{{user.image}}" class="user-img img-responsive img-circle">
            </div>

        </div>
        <div class="col-xs-7 card-body nopadding">
            <div class="rank">
                <span class="rank-position">{{user.rank}}</span>
            </div>
            <div class="card-footer">
                <div class="athlete">
                    {{user.name}}
                </div>
                <div class="result">
                    {{user.tests}}
                </div>
            </div>

        </div>
    </div>


</div>